[submodule "External/AutoLayoutShorthand"]
	path = External/AutoLayoutShorthand
	url = https://github.com/rentzsch/AutoLayoutShorthand.git
[submodule "External/Mantle"]
	path = External/Mantle
	url = https://github.com/MantleFramework/Mantle.git
[submodule "External/JTSImageViewController"]
	path = External/JTSImageViewController
	url = https://github.com/jaredsinclair/JTSImageViewController.git
[submodule "External/Mensa"]
	path = External/Mensa
	url = https://github.com/indragiek/Mensa.git
